# Игнорировать всё
*
*.exe
*.json
.vscode/*
.vscode/
*temp*
*CodeRunner*
*tmp*
*tempCodeRunnerFile.c
.DS_Store/*
*.DS_Store
.


# Исключить файлы  из игнорирования
!*.c
!*.h
!*.jpg
!*.csv
!makefile
!Makefile
!README*
!*.docx

# Также важно не игнорировать папки, 
# иначе Git не сможет пройти к .c-файлам 
# внутри них
!*/

# Обязательно разрешить сам .gitignore
!.gitignore


