# Игнорировать всё
*
*.exe
*.json
.vscode/*
*temp*
*CodeRunner*
*tmp*
*tempCodeRunnerFile.c


# Исключить файлы .c из игнорирования
!*.c
!*.h
!*.jpg
!*.csv
!makefile
!.docx

# Также важно не игнорировать папки, иначе Git не сможет пройти к .c-файлам внутри них
!*/

# Обязательно разрешить сам .gitignore
!.gitignore


.DS_Store/*
*.DS_Store
.vscode/
